<html>
    <head>
        {% extends "layout.html" %}
    </head>
    
    <body>
        {% block content %}
            <br><br>
            <div class="container">
                <div class="row">
                    <div class="col">
                        <h1 id="about">About OpenUP</h1>
                        <hr>
                        <p>
                            The AI Chatbot named OpenUP has a decision support system to process making choices among various alternatives, and as a prototyping investigative system for proposing and answering a series of 'what if' scenarios.
        
                        </p>
                        <p>
                            The system aims to develop a chatbot that could aid and give resources to LGBT community victims who are not able to talk to someone within their circle. Our motivation is the desire to provide a place where victims of LGBT community can air out their minds in all safety and without being judged because some victims do not have anyone in whom they can confide.
                        </p>
                    </div>
                </div>
            </div>
            <br> <br>
        {% endblock %}
    </body>
</html>