<!DOCTYPE html>
<html>

  <head>
    {% extends "layout.html" %}
</head>
{% block content %}

<div class="jumbotron main-layout jumbotron-fluid" style="margin: 0px; background-color: #1f2937;" >
  <div class="container">       
    <div class="row h-100 mw-100">
        <div class="col-md-6">
            <h1 class="hero-text" style="font-size: 48px;
            font-weight: 800;
            color: #F9faf8;">
              OpenUP. The AI Chatbot you can talk to about LGBT</h1>
            <p style="font-size: 18px; color: #e5e7eb;;">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec libero urna, hendrerit sit amet accumsan quis, iaculis a turpis. 
              Donec euismod, est ac aliquet aliquam, enim lacus sollicitudin tellus, quis egestas lectus ipsum et enim. Curabitur rutrum consectetur tempus. 
              Integer condimentum velit sed dui pharetra, vitae varius diam semper. Cras eu justo nunc. Sed condimentum imperdiet tristique. 
              Etiam scelerisque libero non lobortis gravida. Vestibulum sodales ex ante, nec condimentum dolor tincidunt sit amet. 
              Phasellus quis odio semper, dignissim tortor ut, malesuada leo. Donec id eros a metus fermentum ornare id et massa.
            </p>
            <a class="btn btn-primary" type="submit" href="{{ url_for('chat_bot') }}">Chat with OpenUP</a>
        </div>
        <div class="col-md-6">
          <div class="jumbotron header-layout" style="background-image: url('https://image.spreadshirtmedia.net/image-server/v1/mp/products/T1488A70PA4631PT10X117Y25D178551326W4665H6993/views/1,width=550,height=550,appearanceId=70,backgroundColor=F2F2F2/gay-fist-contrast-mask-adjustable-large.jpg'); height: 400px;">
            <div class="container">
              <h1 class="display-4" style="color: transparent;"></h1>
              <p class="lead" style="color: transparent;"></p>
            </div>
          </div>
        </div>

    </div>
  </div>
</div>

<!-- information section -->

<div class="jumbotron information-layout jumbotron-fluid" style="margin: 0px">
  <div class="container">
    <!-- Main section-->
    <div class="row">
      <div class="col-md text-center">
          <h3 style=" font-size: 36px;
          font-weight: 800;
          color: #1f2937;">Information about OpenUP</h3>
      </div>
    </div>
    <br>
    <br>

    <div class="card-deck" style="mix-blend-mode: multiply;">
      <div class="card border-0">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSPK8pDcHvn-vD1jQo4KkRkp52MWPepQcKlkA&usqp=CAU" class="card-img-top" alt="...">
        <div class="card-body" style="mix-blend-mode: multiply;">
        </div>
        <h5 class="card-title" style="text-align: center;">Chat with OpenUP</h5>
      </div>
      <div class="card border-0">
        <img src="https://assets.networkforgood.org/2382/Images/Page/9a3f5c02-9d95-4d93-ac6b-5ffb47dfe1e3.jpg" class="card-img-top" alt="...">
        <div class="card-body" style="mix-blend-mode: multiply;">
        </div>
        <h5 class="card-title" style="text-align: center;">View all LGBT related concern hotlines</h5>
      </div>
      <div class="card border-0">
        <img src="https://static.vecteezy.com/system/resources/previews/003/453/063/original/lgbt-pride-month-celebrated-annual-lgbt-rainbow-pride-day-abstract-logo-human-rights-and-tolerance-lesbian-gay-bisexual-transgender-icon-free-vector.jpg" class="figure-img img-fluid rounded" alt="A generic square placeholder image with rounded corners in a figure." class="card-img-top" alt="...">
        <div class="card-body" style="mix-blend-mode: multiply;">
        </div>
        <h5 class="card-title" style="text-align: center;">See all Organizations that helps LGBT communities</h5>
      </div>
    </div>

  </div>
</div>
    

     
   
</body>
{% endblock %}
</html>
