<!DOCTYPE html>
<html>
    {% extends "layout.html" %}
    {% block content %}
<body>
    <br><br>
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>List of all hotlines that can help you for your LGBT related concerns</h1>
            </div>
        </div>
    </div>
    <br> <br>
    <hr>
<br><br>
    <div class="container">
        <div class="row">
            <div class="col">
                <h4>National Mental Health Crisis Hotline
                </h4>
                <p>09178998727</p>
                <p>09179898727</p>
                <p>0917899USAP</p>
                <p>0917899USAP</p>
            </div>
        </div>
    </div>
    <hr>
    <br><br>
    <div class="container">
        <div class="row">
            <div class="col">
                <h4>Natasha Goulbourn Foundation (NGF)</h4>
                <p>02-804HOPE(4673)</p>
                <p>0917558HOPE(4673) or 2919</p>
            </div>
        </div>
    </div>
    <br> <br>
    <hr>

    <div class="container">
        <div class="row">
            <div class="col">
                <h4>Manila Lifeline Center (MLC)</h4>
                <p>02-8969191</p>
                <p>09178549191</p>
            </div>
        </div>
    </div>
    <br> <br>
    <hr>

    <div class="container">
        <div class="row">
            <div class="col">
                <h4>In Touch Community Services Crisis Lines</h4>
                <p>(+63)2 893 7603</p>
                <p>09178001123 Globe</p>
                <p>09228938944 Sun</p>
            </div>
        </div>
    </div>
    <br> <br>
    <hr>

    <div class="container">
        <div class="row">
            <div class="col">
                <h4>Living Free Foundation</h4>
                <p>09173227087</p>
            </div>
        </div>
    </div>
    <br> <br>
    <hr>

    <div class="container">
        <div class="row">
            <div class="col">
                <h4>Mood Harmony</h4>
                <p>02-8442941</p>
            </div>
        </div>
    </div>
    <br> <br>
    <hr>

    <div class="container">
        <div class="row">
            <div class="col">
                <h4>Dial-a-Friend</h4>
                <p>02-5251743</p>
                <p>02-5251881</p>
            </div>
        </div>
    </div>
    <br> <br>
    <hr>

    <div class="container">
        <div class="row">
            <div class="col">
                <h4>UGAT Foundation</h4>
                <p>02-4265992</p>
                <p>02-4266001</p>
            </div>
        </div>
    </div>

{% endblock %}
   
</body>
